@import "tailwindcss";

:root {
  --color-rosa: #ec4899; /* tailwind rose-500 */
  --color-rosa-claro: #f9a8d4; /* rose-300 */
  --color-oscuro: #111827;
  --color-claro: #fef2f8;
}

body {
  background-color: var(--color-claro);
  color: var(--color-oscuro);
  font-family: 'Inter', sans-serif;
}

button {
  transition: all 0.2s ease-in-out;
}

input:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-rosa);
}

